<h1>Create a new Movie</h1>

<%= link_to 'Cancel and go back to movies list', movies_path, :class => 'btn btn-primary'%>

<div class="container">
    <form action="/movies" method="post">
        <%- Movie.columns.each do |column|%>
            <div class="container_campos">
                <label for="<%= "movie_#{column.name}" %>"> <%= column.name.capitalize %>: </label>
                <input type="text" id="<%= "movie_#{column.name}" %>" name= <%= "movie[:#{column.name}]"%>>
            </div>
        <%end%>

        <div id="container_confirma">
            <input type="submit" value="Add Movie">
        </div>
    </form>
</div>

#TESTE GIT COMMIT -M "UPDATE"#