<h1>Create a new Movie</h1>

<%= link_to 'Cancel and go back to movies list', movies_path, :class => 'btn btn-primary'%>

<div class="container">
    <form action="/movies" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% Movie.columns.each do |column|%>
            <% if column.name.to_s == "id" || column.name.to_s == "created_at" || column.name.to_s == "updated_at" %>

            <% else%>
                <div class="container_campos">
                    <label for="<%= "movie_#{column.name}" %>"> <%= column.name.capitalize %>: </label>
                    <input type="text" id="<%= "movie_#{column.name}" %>" name= <%= "movie[:#{column.name}]"%>>
                </div>
            <%end%>
        <%end%>
        <div id="container_confirma">
            <input type="submit" value="Add Movie">
        </div>
    </form>
</div>

